<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POC WebApplication</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bundle")

    <link rel="stylesheet" type="text/css" href="~/Content/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="/Content/dx.light.css" data-active="true" />
    <link rel="dx-theme" data-theme="generic.dark" href="/Content/dx.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="carmine" href="~/Content/dx.carmine.css" data-active="false" />
    <link rel="dx-theme" data-theme="contrast" href="~/Content/dx.contrast.css" data-active="false" />
    <link rel="dx-theme" data-theme="darkmoon" href="~/Content/dx.darkmoon.css" data-active="false" />
    <link rel="dx-theme" data-theme="darkviolet" href="~/Content/dx.darkviolet.css" data-active="false" />
    <link rel="dx-theme" data-theme="greenmist" href="~/Content/dx.greenmist.css" data-active="false" />
    <link rel="dx-theme" data-theme="blue.dark" href="~/Content/dx.material.blue.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="blue.light" href="~/Content/dx.material.blue.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="lime.dark" href="~/Content/dx.material.lime.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="lime.light" href="~/Content/dx.material.lime.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="orange.dark" href="~/Content/dx.material.orange.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="orange.light" href="~/Content/dx.material.orange.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="purple.dark" href="~/Content/dx.material.purple.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="purple.light" href="~/Content/dx.material.purple.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="teal.light" href="~/Content/dx.material.teal.light.css" data-active="false" />
    <link rel="dx-theme" data-theme="teal.dark" href="~/Content/dx.material.teal.dark.css" data-active="false" />
    <link rel="dx-theme" data-theme="bluesky.light" href="~/Content/dx.bluesky.light.custom.css" data-active="false" />
    <link rel="dx-theme" data-theme="bluesky.dark" href="~/Content/dx.bluesky.dark.custom.css" data-active="false" />
    @Scripts.Render("~/Scripts/User/dd_insert_theme_menu.js")
    <!-- DevExtreme scripts must go below the "dx-theme" links -->

    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")

</head>

<body class="dx-datagrid">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="display: flex; justify-content: space-between">
            <div class="navbar-header" style="display: flex">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">POC WebApplication</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse" style="display: flex">
                <ul class="nav navbar-nav">
                    <li id="home-menu-item" class="active"><a href="/Home">Home</a></li>
                    <li id="about-menu-item"><a href="/About">About</a></li>
                    <li id="contact-menu-item"><a href="/Contact">Contact</a></li>
                </ul>
            </div>
            <div style="flex-grow:1; text-align:center"></div>
            <div id="themeDropDownBoxContainer" style="border: 1px"></div>
        </div>
    </nav>

    <div id="body-container" class="container">
        @RenderBody()
    </div>
</body>

</html>